services:
  db:
    image: postgres:17.6-alpine
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
  cache:
    image: redis:8.0.3-alpine
    restart: always
    volumes:
      - cache:/data
    expose: 
      - 6379
    environment:
      - REDIS_USER=${REDIS_USER}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_DB=${REDIS_DB}
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5
  s3:
    build:
      context: ./minio
    restart: always
    volumes:
      - s3-data:/data
    environment:
      - MINIO_ROOT_USER=${S3_ACCESS_KEY_ID}
      - MINIO_ROOT_PASSWORD=${S3_SECRET_ACCESS_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - MINIO_SERVER_URL=${S3_PUBLIC_ENDPOINT}
      - MINIO_BROWSER_REDIRECT_URL=${MINIO_BROWSER_REDIRECT_URL}
    healthcheck:
      test: ["CMD-SHELL", "mc ready local"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
  api:
    build:
      context: .
      args:
        APP_VERSION: "${APP_VERSION}"
    image: sim-ilc-api:${APP_VERSION:-latest}
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: ${PORT}
      HOST_NAME: ${HOST_NAME}
      CORS_ORIGIN: ${CORS_ORIGIN}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      JWT_EXP: ${JWT_EXP}
      NODEMAILER_SENDER: ${NODEMAILER_SENDER}
      NODEMAILER_HOST: ${NODEMAILER_HOST}
      NODEMAILER_PORT: ${NODEMAILER_PORT}
      NODEMAILER_USER: ${NODEMAILER_USER}
      NODEMAILER_PASS: ${NODEMAILER_PASS}
      SMTP_SECURE: ${SMTP_SECURE}
      REDIS_URL: "redis://${REDIS_USER}:${REDIS_PASSWORD}@cache:6379/${REDIS_DB}"
      REDIS_USE_TLS: ${REDIS_USE_TLS}
      S3_REGION: ${S3_REGION}
      S3_ENDPOINT: http://s3:9000
      S3_PUBLIC_ENDPOINT: ${S3_PUBLIC_ENDPOINT}
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}
      DOCRAPTOR_API_KEY: ${DOCRAPTOR_API_KEY}
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy
      s3:
        condition: service_healthy
volumes:
  db-data:
  cache:
  s3-data: